@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.input {
  @apply w-full border border-gray-300 focus:border-primary focus:outline-none;
}

.label {
  @apply mb-2 font-semibold text-neutral;
}
